.thanks {
  color: #3c4751;
  font-family: "Harmonia Sans Pro Cyr Bold";
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.title {
  color: #ff5912;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
}

.myBtn {
  height: 50px;
  background-color: #ff5912;
  border: none;
  color: #ffffff;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 22px;
  font-weight: 400;
  width: 200px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.newPos {
  width: 250px;
  margin-top: 30px;
}

.goBack{
    cursor: pointer; 
    margin: 0 auto;
    width: 150px;
    padding-bottom: 20px;
}
.buttonPart{
    margin: 0 auto;
    width: 260px;;
}