<div class="footer">
  <div class="container">
    <div class="newsLetter">
      <div class="center">
        <div class="leftPartLetter flex">
          <div class="orangePart">news letter</div>
          <div class="blackPart">join us now to get all news and special offers</div>
        </div>
        <div class="centerLetter flex">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/Mail_icon.png?alt=media&token=40a527a5-da72-4321-8d8c-d2192cf8e4dc"
            alt="" class="myimg">
          <div class="centerPartText">type your email here</div>
        </div>
        <div class="rightPartLetter">join us</div>
      </div>
    </div>
  </div>
  <div class="botPart">
    <div class="inner">
      <div class="innerLogo">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/Logotype.png?alt=media&token=670105af-fb7d-498c-80c9-fca566ebf304"
          alt="">
      </div>
      <div class="innerLi">
        <ul>
          <li>about us</li>
          <li>contact us</li>
          <li>support us</li>
          <li>our feed</li>
          <li>terms and conditions</li>
          <li>our privacy</li>
          <li>join us</li>
          <li>live support</li>
        </ul>
      </div>
      <div class="innerPayment">
          <div class="pMethods">Payment Methods</div>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/Payment_Images.png?alt=media&token=79db4bdc-3d00-4afc-b68e-c22798fe16c2"
          alt="" class="pMathPhoto">
      </div>
    </div>
  </div>
</div>
