<div class="container hideWhen">
  <div class="smallHeader between">
    <div class="leftPart flex">
      <div class="mail flex">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/Mail_icon.png?alt=media&token=40a527a5-da72-4321-8d8c-d2192cf8e4dc"
          alt="" class="mailImage" style="margin-right: 9px">
        <div>prokop4uk19@gmail.com</div>
      </div>
      <div class="phone flex">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/Phone_Icon.png?alt=media&token=97ee490a-c546-492f-96ea-66bf3cc941cc"
          alt="" class="mailImage" style="margin-right: 9px; margin-left: 19px;">
        <div>+38(067)533-83-38</div>
      </div>
    </div>
    <div class="rightPart">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/facebook.png?alt=media&token=f1626d1d-94b5-49b3-b982-520c1143cab8"
        alt="" class="logo">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/twitter.png?alt=media&token=e531da44-d273-4efb-8fd4-a8d7af26445c"
        alt="" class="logo">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/google.png?alt=media&token=e3abb2f1-1f77-455b-8ee5-c73b2a68f6b6"
        alt="" class="logo">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/instagram.png?alt=media&token=06783e45-b52b-4e99-9291-b69fe6a3df2d"
        alt="" class="logo">
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="bigHeader">
    <div class="menu">
      <div class="menuLeft flex">
        <div class="mainLogo">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/Logotype.png?alt=media&token=670105af-fb7d-498c-80c9-fca566ebf304"
            alt="" class="logotype" routerLink="home">
        </div>
        <nav class="nav mynav">
          <a class="nav-link" href="#" routerLink="home" routerLinkActive="activeNow">Home</a>
          <a class="nav-link" href="#" routerLink="products" routerLinkActive="activeNow">Products</a>
          <a class="nav-link" href="#" routerLink="about" routerLinkActive="activeNow">About</a>
          <a class="nav-link" href="#" routerLink="contact" routerLinkActive="activeNow">Contact</a>
        </nav>
      </div>
      <div class="menuRight">
        <a href="#" routerLink="login">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/User_Ico.png?alt=media&token=f900d2c1-c77d-49a7-b501-eca4ad7ddaed"
            alt="" class="userSize">
        </a>
        <a href="" routerLink="basket">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/Cart_Ico.png?alt=media&token=90a8b021-fef8-49a0-90de-7d9f0c01be8d"
            alt="" class="basketSize">
        </a>
      </div>
    </div>
    <div class="dropdown center">
      <button class="btn dropdown-toggle color"  type="button" id="dropdownMenu2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dropdown
      </button>
      <div class="dropdown-menu width" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button" routerLink="home" routerLinkActive="activeNow">Home</button>
        <button class="dropdown-item" type="button" routerLink="products" routerLinkActive="activeNow">Products</button>
        <button class="dropdown-item" type="button" routerLink="about" routerLinkActive="activeNow">About</button>
        <button class="dropdown-item" type="button" routerLink="contact" routerLinkActive="activeNow">Contact</button>
        <button class="dropdown-item" type="button" routerLink="login" routerLinkActive="activeNow">Login</button>
        <button class="dropdown-item" type="button" routerLink="basket" routerLinkActive="activeNow">Shoping Bag</button>
      </div>
    </div>
  </div>
</div>
<hr>
<!-- <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="home">La-piec</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="discount">Discount</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="pizza">Pizza</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="salad">Salad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="drinks">Drinks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="admin">Admin</a>
        </li>
      </ul>
    </div>
  </nav>
</header> -->
