<div class="body">
  <div class="imgPart">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2Fbackground.jpg?alt=media&token=5888c2f4-eacb-446d-b901-56459631a822"
      alt="">
  </div>
  <div class="contactPart">
    <form #form="ngForm" (submit)="onSubmit(form)">
    <p class="getIn">Get In Touch</p>
    <div class="flex">
      <div class="left">
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default" placeholder="Name" [(ngModel)]="feedForm.name" name="name" id="name" required>
        <input type="email" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default" placeholder="Email" [(ngModel)]="feedForm.email" name="email" id="email" required>
      </div>
      <div class="right">
          <textarea class="tarea" id="" rows="6" placeholder="Comment here!" [(ngModel)]="feedForm.comment" id="comment" name="comment" required></textarea>
      </div>
    </div>
    <button class="sendButton" type="submit"><p class="innerText">Send</p></button>
  </form>
  </div>
</div>
