<div class="body">
  <div class="imgPart">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2Fbackground.jpg?alt=media&token=5888c2f4-eacb-446d-b901-56459631a822"
      alt="">
  </div>
  <div class="contactPart">
    <p class="getIn">Get In Touch</p>
    <div class="flex">
      <div class="left">
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default" placeholder="Name">
        <input type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default" placeholder="Email">
      </div>
      <div class="right">
          <textarea id="" cols="40" rows="6" placeholder="Comment here!"></textarea>
      </div>
    </div>
    <div class="sendButton"><p class="innerText">Send</p></div>
  </div>
</div>
