<div class="body">
  <div class="flex">
    <div class="loginPart">
      <div class="innerLogin" [hidden]="checker">
        <p class="singIn">Sign In</p>
        <div>
          <input type="email" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Email">
          <input type="password" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Password">
        </div>
        <div class="myBtn">
          <p class="text">Sign In</p>
        </div>
        <div class="singUp" (click)="openCreateAccountPart()">
          <p class="signUpText">Create Account</p>
        </div>
      </div>
      <div class="innerCreate" [hidden]="!checker">
        <p class="createText">Create Account</p>
        <div>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="First Name">
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Second Name">
          <input type="email" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Email">
          <input type="password" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Password">
        </div>
        <div class="myBtn newPos">
          <p class="text po">Create Account</p>
        </div>
        <div class="singUp" (click)="openCreateAccountPart()">
          <p class="signUpText pos">Sign In</p>
        </div>
      </div>
    </div>
    <div class="photoPart">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2Flogin-banner.jpg?alt=media&token=b931f37d-daba-4c2b-8d09-f7df5a64dfa2"
        alt="" class="photo">
    </div>
  </div>
</div>
