<!-- <div class="body">
  <div class="flex">
    <div class="loginPart">
      <div class="innerLogin" [hidden]="checkerLogin">
        <p class="singIn">Sign In</p>
        <div>
          <input type="email" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Email" [(ngModel)]="login">
          <input type="password" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Password" [(ngModel)]="password">
            <div class="red mt-2" [hidden]="!hide">Wrong email or password</div>
        </div>
        <div class="myBtn mt-4" (click)="signIn()">
          <p class="text">Sign In</p>
        </div>
        <div class="singUp" (click)="openCreateAccountPart()">
          <p class="signUpText">Create Account</p>
        </div>
      </div>
      <div class="innerCreate" [hidden]="checkerCreate">
        <p class="createText">Create Account</p>
        <div>
          <form #form="ngForm" (submit)="onSubmit(form)">
            <input type="text" name="id" id="id" #id="ngModel" [(ngModel)]="usersForm.id" class="op">
            <input type="checkbox" class="op" name="login" id="login" [(ngModel)]="usersForm.login">
            <input type="email" id="email" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" placeholder="Email" [(ngModel)]="usersForm.email"
              name="email" #qqq="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <div *ngIf="qqq.invalid && qqq.touched" class="red">Write you`r email</div>
            <div [hidden]="emailUse" class="red">This email has been already used</div>

            <input type="password" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" placeholder="Password" [(ngModel)]="usersForm.password"
              name="password" #www="ngModel" required id="password">
            <div *ngIf="www.invalid && www.touched" class="red">Create a password</div>

            <input type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" placeholder="First Name" [(ngModel)]="usersForm.firstName"
              name="firstName" #eee="ngModel" required id="firstName">
            <div *ngIf="eee.invalid && eee.touched" class="red">Write first name</div>

            <input type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" placeholder="Second Name" [(ngModel)]="usersForm.secondName"
              name="secondName" #rrr="ngModel" required id="secondName">
            <div *ngIf="rrr.invalid && rrr.touched" class="red">Write second name</div>

            <input type="number" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" placeholder="Age" [(ngModel)]="usersForm.age" name="age"
              #ttt="ngModel" required id="age">
            <div *ngIf="ttt.invalid && ttt.touched" class="red">Enter you`r age</div>

            <input type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" placeholder="Country" [(ngModel)]="usersForm.country"
              name="country" #aaa="ngModel" required id="country">
            <div *ngIf="aaa.invalid && aaa.touched" class="red">Write country name</div>

            <input type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" placeholder="City" [(ngModel)]="usersForm.city" name="city"
              #sss="ngModel" required id="city">
            <div *ngIf="sss.invalid && sss.touched" class="red">Write city name</div>

            <input type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" placeholder="Street" [(ngModel)]="usersForm.street"
              name="street" #ddd="ngModel" required id="street">
            <div *ngIf="ddd.invalid && ddd.touched" class="red">Write the street name</div>

            <input type="number" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" placeholder="Building number"
              [(ngModel)]="usersForm.buildingNumber" name="buildingNumber" #fff="ngModel" required id="buildingNumber">
            <div *ngIf="fff.invalid && fff.touched" class="red">Write you`r building number</div>

            <input type="number" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" placeholder="Phone number" [(ngModel)]="usersForm.phone"
              name="phone" #zzz="ngModel" required id="phone">
            <div *ngIf="zzz.invalid && zzz.touched" class="red">Write you`r phone number</div>
            <button class="myBtn newPos" type="submit" [disabled]="form.invalid">Create Account</button>
            <div class="singUp" (click)="openCreateAccountPart()">
              <p class="signUpText pos">Sign In</p>
            </div>
          </form>
        </div>
      </div>
      <div class="innerAccount" [hidden]="checkerAccount">
        <p class="hello">Hello {{obj.firstName}}</p>
        <p class="mb-3">E-mail: <span>{{obj.email}}</span></p>
        <p class="mb-3">Phone: <span>+{{obj.phone}}</span></p>
        <p class="mb-3">Shipping address: <span>str. {{obj.street}} {{obj.buildingNumber}}, {{obj.city}} {{obj.country}}</span></p>
        <button  class="myBtn newPos" (click)="signOut()" >Sign Out</button>
      </div>
    </div>
    <div class="photoPart">
      <img
        [src]="photo"
        alt="" class="photo">
    </div>
  </div>
</div> -->

<div class="container">
  <div class="flex">
    <div class="loginPart">
      <div class="displayTable">
        <div class="displayTableCell">

          <div class="authBlock">
            <h3 class="singIn">Sign In</h3>
            <div class="formGroup">
              <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" placeholder="Username" #userName required>
            </div>

            <div class="formGroup">
              <input type="password" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" placeholder="Password" #userPassword required>
            </div>

            <!-- Calling SignIn Api from AuthService -->
            <div class="formGroup">
              <input type="button" class="myBtn mt-4" value="Log in"
                (click)="authService.SignIn(userName.value, userPassword.value)">
            </div>

            <div class="forgotPassword" routerLink="/forgot-password" style="cursor: pointer;">
              <span>Forgot Password?</span> 
            </div>
          </div>

          <div class="redirectToLogin" routerLink="/sign-up" style="cursor: pointer;">
            <span>Don't have an account?<span class="redirect"> Sign Up</span></span>
          </div>
        </div>
      </div>
    </div>

    <div class="photoPart">
      <img [src]="photo" alt="" class="photo">
    </div>
  </div>
</div>
