<div>
  <div class="imgBox">
  </div>
  <div class="text">
    <p class="title">About Us..</p>
    <p class="mainPart">    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat aliquam placeat repellat odio
      debitis unde expedita atque perferendis, autem nobis, deleniti at vitae mollitia veniam neque quibusdam ab quae
      officiis voluptatum doloremque? Iure accusamus, dolores deleniti perspiciatis suscipit at libero iusto nam, quo
      repudiandae aperiam molestias dolor. Alias beatae rem sequi corporis blanditiis aliquam aliquid expedita ipsam
      totam quam? Quaerat totam ullam laudantium, facere minima adipisci officia inventore dolores explicabo ipsum fuga,
      exercitationem dicta consequuntur sapiente eum repellat quis non expedita aut! At consequatur ex reprehenderit
      aperiam dolores et placeat cumque hic ipsam, eligendi eius quo voluptatum corporis dicta rerum!</p>

    <div class="botMain">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ad modi quas esse aut neque
      voluptatum pariatur amet beatae voluptas quibusdam alias numquam ut voluptatem praesentium aperiam nihil harum
      ratione autem illo, libero vero vel. Eius fuga reiciendis eveniet ea iste porro neque nostrum, quibusdam illum
      sunt labore non velit eos eaque deserunt modi blanditiis minus quas eligendi architecto!</div>
  </div>
</div>
