<div class="body">
  <div class="container">
    <p class="bag">Shopping Bag</p>
    <div class="flexB">
      <div class="wrapper" [hidden]="!sizeChecker">
        <div  class="emptyBag">You`r bag is empty!</div>
        <div class="myBtn" routerLink="products">
          <p  class="signUpText position">Start Shoping Now!</p>
        </div>
      </div>
      <div class="leftPart" [hidden]="sizeChecker">
        <div class="showProduct" *ngFor="let prod of productsArray; let i = index">
          <div class="productHead flex">
            <p class="ml-4 op">Item</p>
            <div class="flex">
              <p class="op mr-4">Item Price</p>
              <p class="ml-4 op">Delete</p>
            </div>
          </div>
          <div class="productBody flex">
            <div class="left flex">
              <div class="photoPart">
                <img style="height: 80px;" [src]="prod.photo" alt="">
              </div>
              <div class="aboutPart mt-1">
                <p>{{prod.name}}</p>
                <p>Brand: <span>{{prod.brand}}</span></p>
                <p>Size: <span>{{prod.currentSize}}</span></p>
              </div>
            </div>
            <div class="rigth flex">
              <p class="mr-5 mt-4">${{prod.price}}</p>
              <p class="mt-3"><button class="deleteBtn" (click)="delete(i)">delete</button></p>
            </div>
          </div>
        </div>
      </div>
      <div class="rightPart" [hidden]="sizeChecker">
        <p class="orderSumHead">Order Summary: <span class="price">${{fullPrice}}</span></p>
        <div class="singUp" (click)="proceed()">
          <p class="signUpText pos">Proceed to Checkout</p>
        </div>
      </div>
    </div>
  </div>
</div>
