<div class="body">
  <div class="container">
    <div class="leftPart">
      <div class="showProduct">
        <div class="productHead">
            
        </div>
        <div class="photoPart">
          <img style="height: 198px;"
            src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/images%2F0r9uel3ec8w?alt=media&token=23a32524-316a-4ebb-87ec-0955ecb37e97"
            alt="">
        </div>
      </div>
      <div class="showProduct"></div>
    </div>
    <div class="rightPart">
    </div>
  </div>
</div>
