<div class="body">
  <div class="container">
    <div class="filerPart">
      <div class="categoriesBlock">
        <p class="catTitle">Categories</p>
        <ul *ngFor="let cat of category">
          <li>{{cat.name}}</li>
        </ul>
      </div>
      <div class="priceFilter">
        <p class="priceFilterHead">Price Filter</p>
        <div class="custom-slider">
          <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
        </div>
        <div class="row">
          <p class="value mar">From: <input type="number" [(ngModel)]="minValue"></p>
          <p class="value">To: <input type="number" [(ngModel)]="maxValue"></p>
        </div>
      </div>
      <div class="sizesBlock">
        <p class="catTitle marg">Sizes</p>
        <input type="checkbox" id="checkbox0" name="checkbox" class="radiobut"><label
          for="checkbox0">Small</label><br>
        <input type="checkbox"  id="checkbox1" name="rr" class="radiobut"><label for="checkbox1">Medium</label><br>
        <input type="checkbox"  id="checkbox2" name="rr" class="radiobut"><label for="checkbox2">Large</label><br>
        <input type="checkbox"  id="checkbox3" name="rr" class="radiobut"><label for="checkbox3">X Large</label><br>
      </div>
      <div class="brandsBlock">
        <p class="catTitle marg">Brands</p>
        <div *ngFor="let br of brand">
          <input type="checkbox" name="rr" [id]=br.name class="radiobut"><label [for]=br.name>{{br.name}}</label><br>
        </div>
      </div>
    </div>
    <div class="productsPart">
      <div class="flex">
        <div class="productShow" *ngFor="let prod of products">
          <div><img
              [src]="prod.photo"
              alt="" class="imgBox"></div>
          <p class="productName">{{prod.name}}</p>
          <p class="productPrice">${{prod.price}}</p>
        </div>
      </div>
      <div class="showMore"><img
          src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2FDots.png?alt=media&token=18c6d1fa-e106-4501-8f78-f3b8eb0a3a8e"
          alt="" class="imgDot"></div>
    </div>

  </div>
</div>
