.container {
  min-height: 300px;
  padding-top: 120px;
  display: flex;
  flex-direction: row;
}

.body {
  background-color: #f4f6f8;
}

.filerPart {
  width: 268px;
}

.productsPart {
  width: 880px;
  margin-left: 31px;
  overflow: hidden;
}

.categoriesBlock {
  width: 268px;
  min-height: 242px;
  background-color: #ffffff;
  padding: 41px;
}

.priceFilter {
  width: 268px;
  height: 232px;
  background-color: #ffffff;
  margin-top: 29px;
  padding: 41px;
}

.sizesBlock {
  width: 268px;
  min-height: 302px;
  background-color: #ffffff;
  margin-top: 29px;
  padding: 41px;
}

.brandsBlock {
  width: 268px;
  min-height: 302px;
  background-color: #ffffff;
  margin-top: 31px;
  padding: 41px;
}

.catTitle {
  width: 93px;
  height: 19px;
  color: #ff5912;
  font-family: "Harmonia Sans Pro Cyr Bold";
  font-size: 22px;
  font-weight: 400;
}

ul li {
  width: 70px;
  color: #34404b;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  margin-left: 20px;
  cursor: pointer;
}

ul li :nth-last-of-type(1) {
  margin-top: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 10px;
}

.row input {
  width: 45px;
  height: 30px;
  background-color: #edf0f2;
  margin-left: 5px;
  border: none;
  padding-left: 5px;
}

.value {
  color: #34404b;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 14px;
  font-weight: 400;
  line-height: 50.09px;
}

.mar {
  margin-right: 20px;
}

.priceFilterHead {
  margin-bottom: 39px;
  width: 118px;
  height: 15px;
  color: #ff5912;
  font-family: "Harmonia Sans Pro Cyr Bold";
  font-size: 22px;
  font-weight: 400;
}

.size li {
  list-style-type: square;
}

.marg {
  margin-bottom: 1px;
}

.radiobut {
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

label {
  color: #34404b;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
}

.productShow {
  width: 240px;
  height: 380px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  // height: 1210px;
  overflow: hidden;
}

.imgBox {
  width: 240px;
  height: 280px;
}

.productName {
  height: 20px;
  color: #34404b;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 20px;
  overflow: hidden;
}

.productPrice {
  height: 14px;
  color: #ff5912;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.showMore {
  width: 871px;
  height: 60px;
  background-color: #ffffff;
  cursor: pointer;
}

.imgDot {
  display: block;
  margin: 0 auto;
  padding: 26px;
}

::ng-deep {
  .custom-slider .ng5-slider {
    .ng5-slider-bar {
      height: 2px;
    }

    .ng5-slider-pointer {
      background-color: black !important;
      font-size: 6px;
      width: 10px !important;
      height: 10px !important;
      top: -5px !important;
    }

    .ng5-slider-selection {
      background: rgb(0, 0, 0) !important;
    }

    .ng5-slider-pointer:after {
      display: none;
    }
  }

}

.radiobut,
label {
  cursor: pointer;
}
.phBox{
  width: 140px;
  margin: 0 auto;
}
.imgHoverBox {
  width: 140px;
  // height: 87px;
  margin-top: 35px;
  margin-bottom: 31px;
}

.productHoverName {
  height: 13px;
  color: #ff5912;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 31px;
}

span{
  margin-right: 5px;
}
.sizeHover{
  text-align: center;
  margin-bottom: 30px;
}

.whenHover{
  display: none;
}

.productShow:hover{
  .notHover{
    display: none;
  }
  .whenHover{
    display: block;
  }
}

.myBtn{
  width: 110px;
  height: 30px;
  border: 1px solid #ff5912;
  color: #ff5912;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
  border-radius: 10px;
}
.myBtn:hover{
  background-color:#ff5912;
  color: #ffffff;
}
.innerText{
  margin-top: 5px;
  text-align: center;
}
.rows{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  width: 150px;
  margin: 0 auto; 
}