.body {
  background: #f4f6f8;
}

.photoPart {
  width: 50%;
}

.flex {
  display: flex;
  flex-direction: row;
  padding: 20px;
  padding-top: 40px;
}

.innerCreate {
  width: 400px;
  min-height: 400px;
  margin-top: 50px;
  margin-left: 120px;
}

.createText {
  height: 85px;
  color: #3c4751;
  font-family: "Harmonia Sans Pro Cyr Bold";
  font-size: 52px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.loginPart {
  width: 50%;
  min-height: 670px;
  text-align: center;
  margin-right: 20px;
}

input {
  margin-top: 30px;
}

#id {
  margin-top: 0px;
}

#email {
  margin-top: 0px;
}

.myBtn {
  height: 50px;
  background-color: #ff5912;
  border: none;
  color: #ffffff;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 22px;
  font-weight: 400;
  width: 200px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
  cursor: pointer;
}

.newPos {
  width: 250px;
  margin-top: 30px;
}

@media screen and(max-width: 610px) {
  .photoPart{
    display: none;
  }
  .loginPart{
    width: 100%;
  }
}

span {
  font-family: "Harmonia Sans Pro Bold";
  color: #3c4751;
  font-weight: 550;
}