.banner {
  height: 650px;
  overflow: hidden;
}

.innerFullBlock {
  display: flex;
  flex-direction: row;
  background: url("https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2FBg.png?alt=media&token=c4147a46-8170-49c7-b13a-8748e2b37179");
  height: 650px;
  position: relative;
}

.InnerLeftPartBlock {
  width: 50%;
  height: 650px;
  position: absolute;
  top: 0;
  left: 0;
}

.InnerRightPartBlock {
  width: 50%;
  height: 650px;
  background: url("https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2FImg.png?alt=media&token=ef254042-a0a7-4c66-86a5-30f851da9283");
  position: absolute;
  top: 0;
  right: 0;
}

.innerText {
  position: absolute;
  top: 30%;
  left: 20%;
}

h1 {
  // width: 401px;
  // height: 37px;
  color: #ff5912;
  font-family: "Harmonia Sans Pro Cyr Bold";
  font-size: 102px;
  font-weight: 400;
  margin-bottom: 29px;
}

.o {
  color: #3c4751;
}

.textTop {
  height: 17px;
  color: #3c4751;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 58px;
  font-weight: 400;
  line-height: 29.97px;
}

.textBot {
  width: 520px;
  height: 16px;
  color: #495662;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 16px;
  font-weight: 400;
  line-height: 29.97px;
  margin-top: 13px;
  margin-bottom: 63px;
}

.textOrder {
  height: 13px;
  color: #ff5912;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 18px;
  font-weight: 400;
}

.buyIt {
  height: 14px;
  color: #34404b;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 20px;
  font-weight: 500;
  margin-right: 21px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flexSale {
  display: flex;
  flex-direction: row;
}

.around {
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.price {
  margin-right: 31px;
  font-weight: 500;
}

.background {
  background-color: #f4f6f8;
  padding-bottom: 80px;
}

.arrivals {
  background-color: #f4f6f8;
  margin-top: 120px;
}

.title {
  width: 244px;
  height: 25px;
  font-size: 36px;
  font-family: "Harmonia Sans Pro Cyr Bold";
  font-weight: 600;
  color: #34404b;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.red {
  color: #ff5912;
  margin-right: 3px;
}

.someMoreWord {
  line-height: 30px;
  font-family: "Harmonia Sans Pro Cyr";
  font-weight: 400;
  font-size: 16px;
  color: #495662;
  height: 16px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.showItem {
  width: 25%;
  height: 395px;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
}

.itemImg {
  // height: 240px;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
}

.itemName {
  height: 13px;
  color: #34404b;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 23px;
}

.itemPrice {
  height: 14px;
  color: #ff5912;
  font-family: "Harmonia Sans Pro Cyr Bold";
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.dots {
  height: 8px;
  width: 35px;
  margin: 0 auto;
}

.loadMore {
  height: 60px;
  background-color: #ffffff;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 120px;
}

.titleSales {
  width: 187px;
  height: 25px;
  font-family: "Harmonia Sans Pro Cyr Bold";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  color: #ff5912;
  margin-bottom: 30px;
}

.blackColor {
  color: #34404b;
  margin-left: 3px;
}

.salesDescriptions {
  width: 250px;
  margin: 0 auto;
  height: 16px;
  color: #495662;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 16px;
  font-weight: 400;
  line-height: 29.99px;
}

.salesBlock {
  width: 30%;
}

.salesItem {
  width: 100%;
  height: 160px;
  background-color: #ffffff;
  padding: 10px;
  padding-left: 28px;
  justify-content: space-between;
  margin-top: 20px;
  cursor: pointer;
}

.salesItemTitle {
  margin-top: 35px;
}

.salesItemImage {
  width: 120px;
}

.salesItemDescription {
  // width: 167px;
  // height: 35px;
  color: #34404b;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 18px;
  font-weight: 700;
  width: 130px;
  height: 37px;
  overflow: hidden;
}

.salesItemPrice {
  width: 115px;
  height: 40px;
  color: #ff5912;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 38px;
  font-weight: 700;
  margin-top: 6px;
  margin-left: 26px;
}

.salesPos {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 50px;
}


.showItem:hover {
  .notHover {
    display: none;
  }

  .whenHover {
    display: block;
  }
}

.myBtn {
  width: 130px;
  height: 30px;
  border: 1px solid #ff5912;
  color: #ff5912;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
  border-radius: 10px;
  margin-right: 4px;
}

.myBtn:hover {
  background-color: #ff5912;
  color: #ffffff;
}

.innerBtnText {
  margin-top: 5px;
  text-align: center;
}

.sizeHover {
  text-align: center;
  margin-bottom: 30px;
}

.phBox {
  width: 140px;
  margin: 0 auto;
}

.productHoverName {
  height: 13px;
  color: #ff5912;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 31px;
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  width: 150px;
  margin: 0 auto;
}

.whenHover {
  display: none;
}

span {
  margin-right: 5px;
}

.imgHoverBox {
  width: 100%;
  // height: 87px;
  margin-top: 35px;
  margin-bottom: 31px;
}

@media screen and (max-width: 1201px) {
  .showItem {
    width: 25%;
    height: 345px;
  }

  .imgHoverBox {
    margin-top: 1px;
  }
}

@media screen and (max-width: 994px) {
  .flexSale {
    display: block;
  }

  .salesItem {
    height: 260px;
  }

  .salesBlock {
    width: 25%;
  }

  .salesItemImage {
    width: 100%;
  }

  .salesItemDescription {
    text-align: center;
    width: 100%;
  }

  .salesItemPrice {
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  .salesItemTitle {
    margin-top: 0px;
  }
}

@media screen and (max-width: 993px) {
  .itemPrice {
    margin-top: 45px
  }

  .showItem {
    height: 310px;
  }

  .phBox {
    width: 80%;
  }

  .textTop {
    font-size: 50px;
  }

  .banner {
    height: 440px;
  }

  .innerText {
    top: 16%;
    left: 13%;
  }
}

@media screen and (max-width: 800px) {
  .textTop {
    font-size: 35px;
  }

  .flex {
    flex-direction: column;
  }

  .showItem {
    width: 50%;
    margin: 0 auto;
    height: 500px;
    margin-bottom: 20px;
  }

  .salesPos {
    flex-direction: column;
  }

  .salesBlock {
    width: 50%;
    margin: 0 auto;
  }

  .salesItem {
    height: 465px;
  }

  .loadMore {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .showItem {
    height: 430px;
    width: 270px;
  }

  .salesBlock {
    height: 390px;
    width: 275px;
    margin-bottom: 20px;
  }

  .salesItem {
    height: 390px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 13px;
  }

  .textTop {
    font-size: 30px;
  }
}
