<div class="background">
  <div class="banner">
    <div class="innerFullBlock">
      <div class="InnerLeftPartBlock"></div>
      <div class="InnerRightPartBlock"></div>
      <div class="innerText">
        <h1>full winter kit</h1>
        <p class="textTop">Half Jacket + Skiny Trousers + Boot leather</p>
        <p class="textBot">Lorem Ipsum is simply dummy text of the printing and typesetting industry </p>
        <div class="buyIt flex">
          <p class="price">Price: 120$</p>
          <div class="flex">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/Cart_Ico.png?alt=media&token=90a8b021-fef8-49a0-90de-7d9f0c01be8d"
              alt="" style="margin-right: 9px">
            <p class="textOrder">Order Now</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="newArrivals">
    <div class="arrivals">
      <div class="title">
        <p class="red">new</p>
        <p>arrivals</p>
      </div>
      <div class="someMoreWord">You can allways find something special for you and you`r family! Lets try?</div>
    </div>
    <div class="container flex around">
      <div class="showItem">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2Freebok%20track%20jacket.jpg?alt=media&token=9228e87d-7539-4a53-ab8c-b69828a5169d"
          alt="" class="itemImg">
        <p class="itemName">Reebok Track Jacket</p>
        <p class="itemPrice">$59.99</p>
      </div>
      <div class="showItem">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2Freebok%20CL%20V%20Track%20Top.jpg?alt=media&token=00f4d10c-d06f-4d97-96a8-59718ff2126f"
          alt="" class="itemImg">
        <p class="itemName">Reebok CL V Track Top</p>
        <p class="itemPrice">$64.99</p>
      </div>
      <div class="showItem">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2FLifestyle%20Track%20Top.jpg?alt=media&token=0b1e0c05-9a5b-42a4-b579-5e6d36adf6ec"
          alt="" class="itemImg">
        <p class="itemName">Reebok Lifestyle Track Top</p>
        <p class="itemPrice">$35.99</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="loadMore">
      <div class="dots">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2FDots.png?alt=media&token=18c6d1fa-e106-4501-8f78-f3b8eb0a3a8e"
          alt="">
      </div>
    </div>
    <div class="bestSales">
      <div class="headSales">
        <div class="titleSales">
          <p>best</p>
          <p class="blackColor">sales</p>
        </div>
        <div class="salesDescriptions">Best sales, only for best costumers!</div>
      </div>
      <div class="salesPos">
        <div class="salesBlock">
          <div class="salesItem flex">
            <div class="salesItemImage">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2FNF%20Dryzzle%20Jacket.jpg?alt=media&token=43508172-6a6b-44e4-8ced-5ef40e2d2cf2"
                alt="" class="salesItemImage">
            </div>
            <div class="salesItemTitle">
              <p class="salesItemDescription">The North Face Dryzzle Jacket</p>
              <p class="salesItemPrice">$30</p>
            </div>
          </div>
        </div>
        <div class="salesBlock">
          <div class="salesItem flex">
            <div class="salesItemImage">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2FNF%20Dryzzle%20Jacket.jpg?alt=media&token=43508172-6a6b-44e4-8ced-5ef40e2d2cf2"
                alt="" class="salesItemImage">
            </div>
            <div class="salesItemTitle">
              <p class="salesItemDescription">The North Face Dryzzle Jacket</p>
              <p class="salesItemPrice">$30</p>
            </div>
          </div>
        </div>
        <div class="salesBlock">
          <div class="salesItem flex">
            <div class="salesItemImage">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2FNF%20Dryzzle%20Jacket.jpg?alt=media&token=43508172-6a6b-44e4-8ced-5ef40e2d2cf2"
                alt="" class="salesItemImage">
            </div>
            <div class="salesItemTitle">
              <p class="salesItemDescription">The North Face Dryzzle Jacket</p>
              <p class="salesItemPrice">$30</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
