<div class="background">
  <div class="banner">
    <div class="innerFullBlock">
      <div class="InnerLeftPartBlock"></div>
      <div class="InnerRightPartBlock"></div>
      <div class="innerText">
        <h1>SH<span class="o">O</span>PY</h1>
        <p class="textTop">We are you`r new wardrobe</p>
      </div>
    </div>
  </div>
  <div class="newArrivals">
    <div class="arrivals">
      <div class="title">
        <p class="red">new</p>
        <p>arrivals</p>
      </div>
      <div class="someMoreWord"><p style="text-align: center;">You can allways find something special for you and you`r family! Lets try?</p></div>
    </div>
    <div class="container flex around">
      <div class="showItem" *ngFor="let prod of products; let i = index">
        <div class="notHover">
          <img [src]=prod?.photo alt="" class="itemImg">
          <p class="itemName">{{prod?.name}}</p>
          <p class="itemPrice">${{prod?.price}}</p>
        </div>
        <div class="whenHover">
          <div class="phBox"><img [src]="prod?.photo" alt="" class="imgHoverBox"></div>
          <p class="productHoverName">{{prod?.name}}</p>
          <p class="sizeHover">Sizes: <span *ngIf="prod?.xs">xs</span><span *ngIf="prod?.s">s</span>
            <span *ngIf="prod?.m">m</span><span *ngIf="prod?.l">l</span><span *ngIf="prod?.xl">xl</span></p>
          <div class="rows">
            <div class="myBtn" [routerLink]="[ '/products', prod.id ]">
              <p class="innerBtnText">More details</p>
            </div>
            <div style="cursor: pointer" (click)="addToBag(prod.id)"><img
                src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/Add_To_Cart_Ico.png?alt=media&token=e603c3cb-9eaa-4eff-a924-e271d223704d"
                alt="" style="margin-top: 2px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="loadMore" (click)="loadMore()" [hidden]="checker">
      <div class="dots">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2FDots.png?alt=media&token=18c6d1fa-e106-4501-8f78-f3b8eb0a3a8e"
          alt="">
      </div>
    </div>
    <div class="bestSales">
      <div class="headSales">
        <div class="titleSales">
          <p>best</p>
          <p class="blackColor">sales</p>
        </div>
        <div class="salesDescriptions">Best sales, only for best costumers!</div>
      </div>
      <div class="salesPos" >
        <div class="salesBlock" *ngFor="let p of pr">
          <div class="salesItem flexSale" [routerLink]="[ '/products', p.id ]">
            <div class="salesItemImage">
              <img
              [src]="p?.photo"
              alt="" class="salesItemImage">
            </div>
            <div class="salesItemTitle">
              <p class="salesItemDescription">{{p.name}}</p>
              <p class="salesItemPrice">${{p.price}}</p>
            </div>
          </div>
        </div>
        <!-- <div class="salesBlock">
          <div class="salesItem flexSale">
            <div class="salesItemImage">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2FNF%20Dryzzle%20Jacket.jpg?alt=media&token=43508172-6a6b-44e4-8ced-5ef40e2d2cf2"
                alt="" class="salesItemImage">
            </div>
            <div class="salesItemTitle">
              <p class="salesItemDescription">The North Face Dryzzle Jacket</p>
              <p class="salesItemPrice">$30</p>
            </div>
          </div>
        </div> -->
        <!-- <div class="salesBlock">
          <div class="salesItem flexSale">
            <div class="salesItemImage">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/finalproject-1c299.appspot.com/o/homePagePhoto%2FNF%20Dryzzle%20Jacket.jpg?alt=media&token=43508172-6a6b-44e4-8ced-5ef40e2d2cf2"
                alt="" class="salesItemImage">
            </div>
            <div class="salesItemTitle">
              <p class="salesItemDescription">The North Face Dryzzle Jacket</p>
              <p class="salesItemPrice">$30</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
