.res {
  height: 45px;
  color: #3c4751;
  font-family: "Harmonia Sans Pro Cyr Bold";
  font-size: 52px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.title {
  font-family: "Harmonia Sans Pro Cyr";
  color: #ff5912;
  font-size: 16px;
  margin-bottom: 10px;
}

.myBtn {
  height: 40px;
  background-color: #ff5912;
  border: none;
  color: #ffffff;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 20px;
  font-weight: 400;
  width: 200px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.newPos {
  width: 150px;
  margin-top: 30px;
}

.photoPart {
  width: 50%;
}

.flex {
  display: flex;
  flex-direction: row;
  padding: 20px;
  padding-top: 40px;
}

.left {
  width: 50%;
  min-height: 470px;
  text-align: center;
  margin-right: 20px;
}
@media screen and(max-width: 610px) {
  .photoPart{
    display: none;
  }
  .left{
    width: 100%;
  }
}
@media screen and(max-width: 571px) {
  .res{
    height: 90px;
  }
}