<div class="container">
  <div class="flex">
    <div class="left">
      <div class="displayTable">
        <div class="displayTableCell">
          <div class="authBlock">
            <h3 class="res">Reset Password</h3>

            <p class="title">Please enter your email address to request a password reset.</p>

            <div class="formGroup">
              <input type="email" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" placeholder="Email Address" #passwordResetEmail required>
            </div>

            <!-- Calling ForgotPassword from AuthService Api -->
              <input type="submit" class="myBtn newPos" value="Reset Password"
                (click)="authService.ForgotPassword(passwordResetEmail.value)">
            </div>

          <div class="redirectToLogin" routerLink="/login" style="cursor: pointer;">
            <span>Go back to <span class="redirect">Log In</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="photoPart">
      <img [src]="photo" alt="" class="photo">
    </div>
  </div>
</div>
