@font-face{
    font-family: "Harmonia Sans Pro Cyr Bold";
    src: url(assets/fonts/HarmoniaSans/HarmoniaSansProCyr-Bold.otf);
}
@font-face{
    font-family: "Harmonia Sans Pro Cyr Italic";
    src: url(assets/fonts/HarmoniaSans/HarmoniaSansProCyr-Italic.otf);
}
@font-face{
    font-family: "Harmonia Sans Pro Cyr";
    src: url(assets/fonts/HarmoniaSans/HarmoniaSansProCyr-Regular.otf);
}